* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  border-bottom: 8px solid grey;
  margin: 0 auto;
}
.max-width-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
}
.intro-chunk {
  max-width: 300px;
  margin: 40px 0;
}
strong {
  color: forestgreen;
}
main {
  background-color: lightgray;
  padding: 80px 0;
}
.card {
  background-color: white;
  margin: -20px;
  padding: 20px;
}
.indented-heading {
  background-color: gold;
  width: fit-content;
  padding: 20px 50px;
  margin-left: -50px;
  margin-top: -10px;
  border-bottom: 8px solid goldenrod;
}
